body{
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    color:white;
    text-align:right;
    background-color:black;
    margin:-8px -8px -20px -8px;
    padding:3px 15px 0px 10px;
}

header h1{
    font-size:2.75em;
    text-transform:uppercase;
    margin:20px 0px 30px 0px;
    padding:0px 15px 0px 0px;
}

header h2{
    font-size:1.25em;
    margin:-30px 0px 0px 0px;
    padding:0px 15px 0px 0px;
}

header img{
    display:flex;
    pointer-events:none;
    vertical-align:left;
    margin:5px 0px -120px 10px;
    width:100px;
    height:100px;
}

nav{
    font-size:1.25em;
    background-color:black;
    margin:8px -8px;
    padding:10px 0px;
}

nav li{
    list-style:none;
    text-align:center;
}

nav ul{
    display:inline;
}

nav a{
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration:none;
    padding:12px 30px;
}

#active{
    color:black;
    background-color:white;
}

nav a:hover{
    color:black;
    background-color:white;
}

section div{
    text-align:center;
}

section p{
    color:white;
    font-size:1.5em;
    margin:35px 0px -25px 0px;
}

section button{
    color:white;
    font-size:2em;
    cursor:pointer;
    background:none;
    border-radius:12px;
    border-style:solid;
    border-width:3px;
    text-transform:uppercase;
    margin:65px 0px 0px 0px;
    padding:30px 50px 30px 50px;
}

#industry-banner{
    pointer-events:none;
    width:1903px;
    height:500px;
    margin:-5px -10px -10px -8px;
}

#shop-banner{
    pointer-events:none;
    width:1903px;
    height:500px;
    margin:5px -10px -10px -8px;
}

#shop-header{
    color:white;
    font-size:5em;
    font-weight:bold;
    margin:-425px 0px 0px 0px;
}

footer{
    color:black;
    text-align:center;
    background-color:white;
    margin:90px 0px 0px 0px;
}